html{font-size: 22px;}
body,header,footer,span,section,article,p,h1,h2,h3,h4,h5,h6,ul,li,ol,li,dl,dt,dd{margin:0;padding:0;}
ul li{list-style: none;}
a{text-decoration: none;}
/*公有样式*/
/*.pfixed{position: fixed;}*/
/*.wh{width:100%;height:3.2rem;}*/
.clb{clear: both;}
.cbo{clear: both;overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
@media screen and (max-width:320px){
    html{font-size:12px;}
}
@media screen and (min-width:321px) and (max-width:360px){
    html{font-size:16px;}
}
@media screen and (min-width:361px) and (max-width:414px){
    html{font-size:20px;}
}
@media screen and (min-width:415px) and (max-width:460px){
    html{font-size:24px;}
}
@media screen and  (min-width:461px){
    html{font-size:26px;}
}
body{overflow: hidden;}

#mymusic{display: box;display: -webkit-box;-webkit-box-orient: vertical;
    width:100%;height:100%;position: absolute;top:0;left:0;}

header{width:100%;padding:0.4rem 0;display: -webkit-box;display: box;
        background:#3E5656;box-shadow: 0 1px 1px #000;}


header span{display: block;-webkit-box-flex:1;height:3rem;}
header span:nth-child(1){background:url(../img/icon_back.png) no-repeat center;
                        background-size:90%;}
header span:nth-child(2){color:#FFF;font-size:1.4rem;font-weight: bold;
                        line-height: 3rem;text-align: center;}
header span:nth-child(3){-webkit-box-flex:3;}

header span:nth-child(5){background:url(../img/icon_circle.png) no-repeat center;
                        background-size: 90%;margin-right:6%;}
header span:nth-child(4){background:url(../img/icon_search.png) no-repeat center;
                        background-size: 90%;margin-right:6%;}

footer{padding:0.4rem 0;width:100%;
    background: #02223B;display: -webkit-box;display: box;}
footer span{display: block;-webkit-box-flex: 1;text-align: center;}
footer span img{width:2.25rem;height:2.25rem;margin:0.4rem auto;}

#music_list{-webkit-box-flex:1;background:#054658;
        color:#FFF;overflow: auto;}
/*section a{display: block;color:#FFF;}*/

#music_list li{list-style:none;padding-left:1rem;border-top:1px solid skyblue ;border-bottom:1px solid #64eb8a;
                clear: both;overflow: hidden;-webkit-transition: all 3s;}
#music_list li span{display: block;padding: 0.4rem 0;}
#music_list li h2{width: 10%;text-align: center;margin-right:1rem;
                float: left;padding-top:0.5rem;}
#music_list li p{display:inline-block;font-size: 1rem;}

#music_list li span.dust{width:20%;float: right;display: none;}
#music_list li span.dust img{width:70%;margin:0 auto;display: block;}
#music_list li.not_active{background:#054658;}
#music_list li.active{background-image: -webkit-linear-gradient(top,rgba(200,255,255,.4),rgba(100,255,255,.1),rgba(200,255,255,.4));}

#music_list li.del{background:darkmagenta;-webkit-transform:translate(-10%,0) translate(-100%,0);}

#music_list li span.show{display:block;-webkit-transform:translate(-40%,0)}

#audio01{position: absolute;top:0;right:0;}
#process{position: absolute;bottom:4.1rem;left:0;width:100%;background:rgba(0,0,0,.7)}
#process span{width: 12%;display:inline-block;line-height: 1rem;color: #ff8c68;font-weight: bold;}

#process input{width:68%;height:1rem;}

/*aside样式*/
aside{width:50%;height:100%;position:absolute;top:0;left:-50%;z-index: 99;}
.head{width:100%;height:100%;background:#343434}
.head li{padding:1rem 5%;border-bottom:1px solid #ccc;
        text-indent: 4rem;background-size:18%;}
.head li:first-child span{display: block;width:2.2rem;height:2.2rem;
            border-radius:20%;background: url(../img/head.png) no-repeat center #222222;
            background-size:cover;margin-right:0.4rem;}

.head li:first-child{text-indent: 0;}

.head li:first-child h3{color:#FFF;font-size: 1rem;}
.head li:first-child p{color:#FFF;margin-top:0.2rem;}


.head li span{color:#FFF;font-size: 1rem;}

.head li:nth-child(2){background:url(../img/icon_scan.png) no-repeat 1rem center; }

.head li:nth-child(3){background:url(../img/icon_order.png) no-repeat 1rem center;
   }
.head li:nth-child(4){background:url(../img/icon_er.png) no-repeat 1rem center;
    }
.head li:nth-child(5){background:url(../img/icon_skin.png) no-repeat 1rem center;
    }
.head li:nth-child(6){background:url(../img/icon_bg.png) no-repeat 1rem center;
    }

.head li:nth-child(7){background:url(../img/icon_sleep.png) no-repeat 1rem center;
    }
.head li:nth-child(8){background:url(../img/icon_setting.png) no-repeat 1rem center;
    }
.head li:nth-child(9){background:url(../img/icon_exit.png) no-repeat 1rem center;
    }



